In [1]:
import glob
import os.path

from include.global_functions import init_driver
from include.cbfunctions import *

In [2]:
folder_path = 'db\out'
file_type = '/*.csv'
files = glob.glob(folder_path + file_type)
max_file = max(files, key=os.path.getctime)

max_file

top_offer_df = pd.read_csv(max_file)
top_offer_df = top_offer_df.head(1)
top_offer_df

,ship_id,transaction_id,selling_price_USD,predicted_price_USD,selling_price_BNB,predicted_price_BNB,flip_ratio
0,28648,27452,32.47,58.13,0.05,0.151,3.02

In [ ]:
driver = init_driver()

In [ ]:
#buy_boat(driver, top_offer_df, 5)

In [ ]:
#sell_boat(driver, acc_id=5, resale_discount=1, price=0.058)
#sell_boat(driver, acc_id=5, resale_discount=0.85)

In [ ]:
driver.quit()