In [52]:
import pandas as pd
import numpy as np

In [121]:
header = ['transaction_id', 'ship_id', 'ship_class', 'ship_durability', 'ship_owner', \
        'ship_attr_space', 'ship_attr_speed', 'ship_attr_skill', 'ship_attr_defence', 'ship_attr_attack', 'ship_attr_morale', \
        'ship_parts_keel', 'ship_parts_sail', 'ship_parts_side', 'ship_parts_bow', 'ship_parts_cabin', 'ship_parts_stern', \
        'ship_sold_price']

sold_df = pd.DataFrame(columns=header)

In [83]:
sold_df = pd.read_csv('db/extracted_sold.csv', names=header)
sold_df

,transaction_id,ship_id,ship_class,ship_durability,ship_owner,ship_attr_space,ship_attr_speed,ship_attr_skill,ship_attr_defence,ship_attr_attack,ship_attr_morale,ship_parts_keel,ship_parts_sail,ship_parts_side,ship_parts_bow,ship_parts_cabin,ship_parts_stern,ship_sold_price
0,86,18014,Warship,12,0x6399fd5f8e89300833c4E2709DbC26B294721B1f,7,13,12,11,15,6,Tienshanosaurus'spine,Edmontosaurus'sail,Elasmosaurus'leg,Archaeopteryx'skull,Tenontosaurus'ribs,Aegyptosaurus'tail,999.5

In [122]:
aaa = "86,18014,Warship,12,0x6399fd5f8e89300833c4E2709DbC26B294721B1f,7,13,12,11,15,6,Tienshanosaurus'spine,Edmontosaurus'sail,Elasmosaurus'leg,Archaeopteryx'skull,Tenontosaurus'ribs,Aegyptosaurus'tail,0"

In [125]:
zzlist = aaa.split(',')
zzlist

['86',
 '18014',
 'Warship',
 '12',
 '0x6399fd5f8e89300833c4E2709DbC26B294721B1f',
 '7',
 '13',
 '12',
 '11',
 '15',
 '6',
 "Tienshanosaurus'spine",
 "Edmontosaurus'sail",
 "Elasmosaurus'leg",
 "Archaeopteryx'skull",
 "Tenontosaurus'ribs",
 "Aegyptosaurus'tail",
 '0']

In [136]:
zzdf = pd.DataFrame([zzlist], columns=header)
zzdf

,transaction_id,ship_id,ship_class,ship_durability,ship_owner,ship_attr_space,ship_attr_speed,ship_attr_skill,ship_attr_defence,ship_attr_attack,ship_attr_morale,ship_parts_keel,ship_parts_sail,ship_parts_side,ship_parts_bow,ship_parts_cabin,ship_parts_stern,ship_sold_price
0,86,18014,Warship,12,0x6399fd5f8e89300833c4E2709DbC26B294721B1f,7,13,12,11,15,6,Tienshanosaurus'spine,Edmontosaurus'sail,Elasmosaurus'leg,Archaeopteryx'skull,Tenontosaurus'ribs,Aegyptosaurus'tail,0

In [138]:
sold_df.append(zzdf)
#pd.concat(sold_df, zzdf)

#sold_df

,transaction_id,ship_id,ship_class,ship_durability,ship_owner,ship_attr_space,ship_attr_speed,ship_attr_skill,ship_attr_defence,ship_attr_attack,ship_attr_morale,ship_parts_keel,ship_parts_sail,ship_parts_side,ship_parts_bow,ship_parts_cabin,ship_parts_stern,ship_sold_price
0,86,18014,Warship,12,0x6399fd5f8e89300833c4E2709DbC26B294721B1f,7,13,12,11,15,6,Tienshanosaurus'spine,Edmontosaurus'sail,Elasmosaurus'leg,Archaeopteryx'skull,Tenontosaurus'ribs,Aegyptosaurus'tail,0

In [139]:
a = "1,21608,Cruiser,92,0xa6d1f1c0A78Ea1d17aa065657Ec7D9c0d6D7b759,12,12,14,9,13,7,Struthiomimus'spine,Elasmosaurus'sail,Labocania'leg,Struthiomimus'skull,Elosaurus 'ribs,Nanosaurus'tail,367.44"

In [151]:
with open("db/extracted_sold.csv", mode="a+") as f:
    f.write("test5\n")

In [141]:
f.close()

In [10]:
with open('db/extracted_sold.csv', mode='a+', buffering=1) as s:
    for count, line in enumerate(s):
        pass

count

137

In [11]:
int(count/10)

13